.AdsDetails {
  .AdsContent {
    h3 {
      font-weight: bold;
      color: rgb(59, 59, 59);
      margin-top: 35px;
      font-size: 25px;
    }
    h4 {
      font-weight: bold;
      color: rgb(59, 59, 59);
      font-size: 25px;
      margin-top: 22px;
      margin-bottom: 30px;
    }
    h2 {
      font-weight: bold;
      color: rgb(203, 62, 62);
      margin-top: 35px;
    }
    p {
      color: rgb(77, 77, 77);
      font-size: 13px;
      margin-top: -12px;
    }
  }
}
