.FormInput {
  border-radius: 10px;


  .input-container input {
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 10px;

    outline: none;
    border: none;
    background: #dfe9f5;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}
